body {
    background-color: rgb(254, 236, 209);
  }
  
  h1 {
    color: black;
    margin-left: 150px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    width: 60px;
  }