body {
    background-color: rgb(254, 236, 209);
  }
  
  h1 {
    color: black;
    margin-left: 150px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  li a {
    display: block;
    width: 300px;
    text-decoration: none;
  }
  /* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
  }
