body {
    background-color: rgb(255, 255, 255);
  }
  li {
    display: inline;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    float: left;
    overflow: hidden;
    background-color: #2460bb;
  }
  ul {
    position:fixed ;
    top: 0;
    width: 100%;
  }
  .active {
    background-color: #2460bb;
  }
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #000000;
  }
  li {
    border-right: 2px solid #bbb;
  }
  